<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
 <!-- Le styles -->
   <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', filename='css/docs.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', filename='js/google-code-prettify/prettify.css') }}" rel="stylesheet">
</head>

<body>

  {% for item in items %}
  <div class="container">
    <div class="row">
      <div class="col">
        <p>{{ item[0] }}</p>
        </div>
    </div>
  </div>
  {% endfor %}
</body>
</html>
