<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
 <!-- Le styles -->
   <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', filename='css/docs.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', filename='js/google-code-prettify/prettify.css') }}" rel="stylesheet">
</head>

<body>

  <div class = "container">
    <h1>SQLite Database in a Flask Application</h1>
    <div class="row">
      {% for item in items%}
      <div class="col-sm-4"> <em>{{ item['name'] }}:</em> {{ item['sku'] }} {{ item['manufacturer'] }} </div>
      {% endfor %}
     </div>
   </div> 

</body>
</html>
