  <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ url_for('home')}}">Bootstrap</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active">
                <a href="{{ url_for('home')}}">Overview</a>
              </li>
              <li class="">
                <a href="{{ url_for('scaffolding')}}">Scaffolding</a>
              </li>
              <li class="">
                <a href="{{ url_for('base')}}">Base CSS</a>
              </li>
              <li class="">
                <a href="{{ url_for('components')}}">Components</a>
              </li>
              <li class="">
                <a href="{{ url_for('javascript')}}">Javascript plugins</a>
              </li>
              <li class="">
                <a href="{{ url_for('less')}}">Using LESS</a>
              </li>
              <li class="divider-vertical"></li>
              <li class="">
                <a href="{{url_for('download')}}">Customize</a>
              </li>
              <li class="">
                <a href="./examples.html">Examples</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
