{% extends "_base.html" %}
{% block content %}

    <div class="container">

<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>Customize and download</h1>
  <p class="lead"><a href="https://github.com/twitter/bootstrap/zipball/master">Download the full repository</a> or customize your entire Bootstrap build by selecting only the components, javascript plugins, and assets you need.</p>
</header>

<br><br>
<p>The web customizer is no longer available for outdated versions of Bootstrap.</p>

{% endblock %}

    </div><!-- /container -->
